.THIS .inputSelectStyle{
    width:27% !important;
}
.THIS .docSetupHeaderstyle{
    width:100% !important;
}
.THIS .docSetupHeaderStyleCol{
    width:25% !important;
}
.THIS .sldsboxfirstCustomStyle{
    margin:1% !important;
    width:54% !important;
}
.THIS .sldsboxfirstCustomStylefurtherMore{
    width: 61% !important;
}
.THIS .sldsboxSecondCustomStyle{
    margin:1% !important;
    width:54% !important;
}
.THIS .fontcustomStyle{
    font-family:Arial !important;
}
.THIS .sldsboxSecondCustomStyleone{
    width:80% !important;
}
.THIS .sldsboxSecondCustomStyletwo{
    width:84% !important;
}
.THIS .sldsboxSecondCustomStylethree{
    width:20% !important;
}
.THIS .sldsboxthirdCustomStyle{
    margin:1% !important;
    width: 54% !important;
}
.THIS .sldsboxthirdCustomStyleone{
    width:80% !important;
}
.THIS .sldsboxthirdCustomStyletwo{
    width: 84% !important;
}
.THIS .sldsboxthirdCustomStylethird{
    width:20% !important;
}
.THIS .stagemarginStyle{
   margin-left: 4.8rem !important;
}