.THIS .colHeader{
    background: #DBE8ED;
    min-height: 25px;
    border-right: 1px solid #e0dbdb;
    padding-top:1%;
    padding-bottom:1%;
    
}
.THIS .colHeaderText{
    font-weight: 600;
    padding-left:4%;   
}
.THIS .colHeaderText1{
    font-weight: 600;
    padding-left:10%;   
}
.THIS .rowText{
    border-bottom: 1px solid #e2dede;
    min-height: 25px;
    padding-left:4%;    
}
.THIS .firstRadius{
    border-radius: 10px 0px 0px 0px;
    width:26% !important;
}
.THIS .secondRadius{
    border-radius: 0px 10px 10px 0px;
}
.THIS.gridHeader{
    padding-left:3%;
    padding-right:3%;
   
}
.THIS .tableClass{
    border: 1px solid #ccc;
    
}
.THIS .pickVal{
    padding-top:1%;
    padding-left: 1.75rem !important;
}
.THIS .thSelect{
    border: 3px solid #cfd5da !important;
    border-left-color: #0000ff !important;
    border-left-width: 5px !important;
    
}
.THIS .thSelect1{
    border-left-color: #f90d0d !important;
}
.THIS .heading{
    background-color:rgb(250, 250, 249);
    padding-left:10% !important;
}
.THIS .trtext{
    padding-top:3%;
    
}
.THIS .slds-table th{
    min-height: 42px !important;
    padding-top:3%;
    width:101% !important;
}