.THIS {
    background-color:white !important;
}
.THIS .middleButtonStyle{
    margin-left: 28% !important;
}
.THIS .exitandSaveButtonStyle{
    margin-left: 58% !important;
}
.THIS .FinishButtonStyle{
     margin-left: 66% !important;
}
.THIS .sldsboxcustomStl{
    background-color:White !important;
}